#services {
  padding-bottom: 0;
  a {
    color: $primary2;

    &:hover,
    &:focus {
      color: $primary2;
    }
  }

  .row {
    margin-bottom: 30px;
  }

  a.services-skill {
    background: $primary1;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 2px 0;
    display: inline-block;
  }

  a.section-button {
    color: white;

    &:hover {
      color: $primary1;
    }

    &.invert {
      color: $primary1;

      &:hover {
        color: white;
      }
    }
  }

  .brands {
    margin-bottom: 0;
  }
}

.services-text {
  font-size: 20px;
  text-align: justify;
}

.services-service {
  font-size: 45px;
  font-weight: bold;
  line-height: 1em;
  text-transform: capitalize;

  &:after {
    content: '\25A0';
    color: $primary1;
    font-size: 25px;
    padding-left: 5px;
    text-decoration: none;
  }

  &:last-child:after {
    content: '';
  }

  @media (max-width: 990px) {
    font-size: 35px;
    &:after {
      font-size: 20px;
    }
  }
}






